/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,500&display=swap'); */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: white !important;
  }
  
  h1 {
    /* font-family: 'Oswald', sans-serif; */
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 2.5rem;
    position: absolute;
    margin-left: 2rem;
    top: 4rem;
    max-width: 60%;
  }

  nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    /* background: linear-gradient( 
      to bottom,
      transparent,
      transparent 5%,
      rgba(22, 22, 22, 0.5)
    ); */
  }
  
  nav a {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    display: inline-block;
    font-weight: bold;
  }
  
  nav a.active {
    border-bottom: 8px solid #d3d3d3;
  }
  
  nav a:first-child {
    margin-left: 2rem;
  }
  
  nav a + a {
    margin-left: 2rem;
  }

  .leaderboard {
    /* max-width: 25rem; */
    /* margin: 5rem auto; */
    margin-top: 1.5rem;
    border-radius: 1rem;
    /* box-shadow: 0px 0px 6px 1px rgb(102, 102, 102); */
    box-shadow: 0px 0px 6px 1px rgb(29, 29, 29);
    font-family: sans-serif;
    /* font-family: 'Rajdhani', sans-serif; */
  }
  
  .header {
    /* background-color: #ff7500; */
    /* background-color: #dec328; */
    background: linear-gradient(to top, #946f00, #cc9900);
    color: white;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 14rem;
    position: relative;
  }

  .footer {
    background-color: #16181e;
    color: #cc9900;
    text-align: center;
    padding: 4rem 0;
    font-size: .75rem;
  }

  .main {
    background-color: #16181e;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    overflow: hidden;
  }
  
  .topImage {
    height: 16rem;
    position: absolute;
    bottom: 0;
    right: 0rem;
  }

  .athleteImage {
      height: 2.5rem;
      border-radius: 50%;
      margin-right: 1rem;
      border: 2px solid #cc9900;
  }

  .content {
    padding-top: .5rem;
  }
  
  .spotlightRank,
  .spotlightLocation {
    text-align: left;
  }

  .spotlightLocation {
    width: 14rem;
  }

  .spotlightAge {
    width: 6rem;
  }

  button {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    border: 0;
    background-color: #fff;
    color: #16181e;
    text-align: center; 
    margin: auto;
    display: table-cell;
    vertical-align: middle;
  }

  .mainTable table {
    background-color: #16181e;
    color: #999;
    width: 100%;
    border-collapse: collapse;
  }
  
  .mainTable thead {
    font-size: 0.7rem;
    color: #cc9900;
    text-transform: uppercase;
  }
  
  .mainTable tbody .name {
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .mainTable tbody tr:nth-child(2n) {
    background-color: #1f232c;
  }

  .mainTable tbody .score {
      font-size:1.2rem;
  }
  
  .mainTable th {
    padding: 1.5rem .5rem 0.5rem;
  }
  
  .mainTable td {
    padding: 1rem .5rem;
  }

  .name {
    text-align: left;
  }
  
  .rank {
    text-align: center;
    vertical-align: top;
    width: 2ch;
    padding-top: 1.5rem !important;
    padding-left: 1rem !important;
  }
  
  .score {
    text-align: right;
    vertical-align: top;
    width: 5ch;
    padding-top: 1.25rem !important;
    padding-right: 1rem !important;
  }

  h4 {
    color: #cc9900;
    font-weight: 600;
  }

  .athleteScore {
    padding: .5rem 0;
    color: #999;
    font-size: .8rem;
  }

  .hidden {
    display: none;
  }

  .toTopButton {
    position : right;
  }

  .spotlightImage {
    height: 10rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 6px solid #c90;
  }

  .modalEntire {
    /* max-height: 90%; */
    width: 100%;
    overflow: hidden;
    margin: 1rem;
  }

  .modalHeader {
    padding: 1rem;
  }

  h2 {
    font-size: 1.6rem;
    color: #16181e;
  }

  .modalBody {
    padding: 1rem;
  }

  /* .content {
    padding: .5rem 0;
    display: flex;
    flex-wrap: wrap;
  } */

  /* c-athlete-scoresheet {
      min-width: 15%;
      flex: 1;
  } */

  /* rgb(59, 62, 71) */
  /* rgb(222, 195, 40) */