* {
    --color-movement-1: #DEC328;
    --color-movement-2: #6381bb;
	/* margin: 0;
    padding: 0;
    box-sizing: border-box; */
  }


  .no-data {
	text-align: center;	
	color: var(--color-dark-text);
	font-size: 1rem;
	font-weight: 600;
	font-family: 'Salesforce Sans';
  }

  .submit-form {
	padding: 2rem 1.5rem;
  }
  
  .submit-form h2 {
	text-align: center;
	padding: 1rem 0;
  }

  .workout {
    /* background-color: #16181e; */
    color: #999;
    padding: 2rem 1.5rem;
  }

  .workout .header {
	  display: flex;
	  flex-direction: column;
	  align-items: center;
  }

  .submissionForm {
    /* background-color: #94928f; */
    background-color: #e9e9e9;
    padding: 2rem 1.5rem;
	margin: 0 0.5rem;
    font-size: 0.8rem;
    color: #555;
	border-radius: 1rem;
  }

  /* .submissionForm td {
	padding: 0.5rem 0;
  } */

  .submittedResults {
    /* text-align: center; */
    background-color: #1f232c;
    padding: 1rem 2.5rem 2rem 2.5rem;
    font-size: .8rem;
    color: #ddd;
  }

  h1 {
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 2.5rem;
    position: absolute;
    margin-left: 2rem;
    top: 4rem;
    max-width: 60%;
  }

  h2 {
    color: var(--color-dark-text);
  	font-size: 2rem;
    font-weight: 600;
	font-family: 'Salesforce Sans';
  }

  h3 {
    color: var(--color-dark-text);
    font-size: 1.1rem;
    font-weight: 600;
  }

  
  .workoutDetails {
    font-size: .8rem;
  }
  
  .workoutDescription {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .date {
    font-size: .8rem;
    font-weight: 600;
    color: #cc9900;
  }

  .main {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    overflow: hidden;
  }

  .buttonErrorMessage {
    color: #cc2900;
    text-align: center;
    margin: .5rem 0;
  }

  .error {
    background-color: #331d1d;
    color: #cc2900;
    text-align: center;
    margin: 2rem 1rem;
    padding: 2rem 0;
    font-size: .75rem;
  }

  lightning-combobox,
  lightning-input,
  select:focus,
  textarea {
    font-size: 16px;
  }

  .button-wrapper {
	display: flex;
	justify-content: center;
  }

  button {
	cursor: pointer;
	color: var(--color-dark-text);
	font-size: 1rem;
	border: 0;
	padding: 0.5rem 2rem;
	box-shadow: 0px 4px 4px
	  rgba(var(--color-dark-1-rgb), var(--box-shadow-opacity));
	border-radius: 0.5rem;
	background: linear-gradient(150deg, var(--color1), var(--color2));
  }
  
  /* button:hover {
	background: var(--color2);
	box-shadow: none;
  } */

  .athleteImage {
    height: 6rem;
    width: 6rem;
    margin: 1rem 0;
    border-radius: 50%;
    border: 4px solid #cc9900;
  }

  .results-section {
	margin: 2rem 0 0;
	display: grid;
	gap: 0 .5rem;
	grid-template-columns: auto 1fr;
  }
	
  .results-section h3 {
	grid-column: 1 / -1;
  }

  .results-section p {
	text-align: left;
	font-size: .8rem;
  }
