  .athleteScore {
	display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 0.5rem;
  }

  .score-container {
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
  }

  .name {
    text-align: left;
    color: #cc9900;
    font-weight: 600;
    font-size: 1rem;
  }
  
  .rank,
  .score {
    text-align: right;
  }
  
  .rank {
    font-weight: 600;
  }

  .athleteScore {
    color: #999;
    font-size: .75rem;
  }