/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,500&display=swap'); */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  h1 {
    /* font-family: 'Oswald', sans-serif; */
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 2.5rem;
    position: absolute;
    margin-left: 2rem;
    top: 4rem;
    max-width: 60%;
  }

  nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    /* background: linear-gradient( 
      to bottom,
      transparent,
      transparent 5%,
      rgba(22, 22, 22, 0.5)
    ); */
  }
  
  nav a {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    display: inline-block;
    font-weight: bold;
  }
  
  nav a.active {
    border-bottom: 8px solid #d3d3d3;
  }
  
  nav a:first-child {
    margin-left: 2rem;
  }
  
  nav a + a {
    margin-left: 2rem;
  }

  td svg {
    padding-right: .5rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  .largeSVG {
    height: 10rem;
    width: 10rem;
  }

  .leaderboard {
    /* max-width: 25rem; */
    /* margin: 5rem auto; */
    margin-top: 1.5rem;
    border-radius: 1rem;
    /* box-shadow: 0px 0px 6px 1px rgb(102, 102, 102); */
    box-shadow: 0px 0px 6px 1px rgb(29, 29, 29);
    font-family: sans-serif;
    /* font-family: 'Rajdhani', sans-serif; */
  }
  
  .header {
    /* background-color: #ff7500; */
    /* background-color: #dec328; */
    background: linear-gradient(to top, #946f00, #cc9900);
    color: white;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 14rem;
    position: relative;
  }

  .footer {
    background-color: #16181e;
    color: #cc9900;
    text-align: center;
    padding: 4rem 0;
    font-size: .75rem;
  }

  .main {
    background-color: #16181e;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    overflow: hidden;
  }
  
  .topImage {
    height: 16rem;
    position: absolute;
    bottom: 0;
    right: .5rem;
  }

  .totalSection {
    padding: 2rem;
    /* height: 20rem; */
  }

  .content {
    padding-top: .5rem;
  }

  .mainTable table {
    background-color: #16181e;
    color: #999;
    width: 100%;
    border-collapse: collapse;
  }
  
  .mainTable thead {
    font-size: 0.7rem;
    color: #cc9900;
    text-transform: uppercase;
  }
  
  .mainTable tbody .name {
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }
  
  .mainTable tbody tr:nth-child(2n) {
    background-color: #1f232c;
  }

  .mainTable tbody .score {
      font-size:1.2rem;
  }
  
  .mainTable th {
    padding: 1.5rem 1rem 0.5rem;
  }
  
  .mainTable td {
    padding: 1rem 1rem;
  }

  .name,
  .score {
    text-align: left;
  }
  
  .order,
  .score {
    /* vertical-align: top; */
    padding-top: 1.5rem;
  }
  
  .order {
    text-align: center;
    width: 4ch;
    padding-left: 1rem;
  }

  .totalTitle {
    font-size: 3.5rem;
    font-weight: 600;
    color: #cc9900;
    font-family: Georgia, serif;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    font-family: Georgia, serif;
  }

  h3 {
    padding-left: .5rem;
  }